body {
  background: #F5004F;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.picturewrapper {
  background: white;
  padding: 0 10px 10px 10px;
}

.gallerywrapper {
  background-color: white;
  width: 100%;
  padding-left: 10px;
}

nav a:link {
  font-size: 18px;
  color: #F5004F;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}
nav a:visited {
  color: #F5004F;
  text-decoration: none;
}
nav a:hover {
  color: #9F0033;
  text-decoration: none;
}
nav a:active {
  text-decoration: none;
}

nav a.active {
  border-bottom:5px solid #9F0033;
  color: #9F0033;
}

ul.nav a:hover { background-color: transparent !important; }

.mynavbar {
  background: white;
  padding: 0 10px 10px 10px;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

#welcomebanner {
  position:relative;
  top: -130px;
  left: 45px;
  font-size: 80px;
}

#links {
  background-color: #fff;
  text-align: center;
}
#links a{
  font-size:0;
}

#links img {
  margin: 2px;
}

@media only screen and (max-device-width: 480px) {
  .picturewrapper {
    padding: 10px;
}
}