body {
  background: #fa7089;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

body a:link {
  color: #dddddd;
}

body a:visited {
  color: #dddddd;
}

.coverpicture {
  background: white;
  padding: 10px;
  padding-top: 0px;
}

.picturewrapper {
  background: white;
  padding: 10px;
}

nav a:link {
  color: #fa7089;
  font-weight: bold;
  text-decoration: none;
}
nav a:visited {
  color: #fa7089;
  text-decoration: none;
}
nav a:hover {
  color: #404040;
  text-decoration: none;
}
nav a:active {
  text-decoration: none;
}
.mynavbar {
  background: white;
  padding: 10px;
}
.navbar-toggle .icon-bar {
  background-color: white;
}