{% extends "nav.jinja2" %}
{% block content %}
<br>
<br>
<div class="row">	
  <div class="col-md-6">
    <div class="text-center">
      <h2>Ceremony</h2>	
      <h4>Saturday, October 3, 2015 at 6:30pm</h4>
      <br>
      <p><a href="http://www.meadowwoodmanor.com/">Meadow Wood Manor</a></p>
      <p>461 State Route 10</p>
      <p>Randolph, NJ 07869</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="picturewrapper">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3017.4181419714964!2d-74.56552200000002!3d40.862697!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3a06c228a67cf%3A0xe3c5053936abc741!2smeadow+wood+manor!5e0!3m2!1sen!2sus!4v1417916163603" width="100%" height="250" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>
{% endblock %}