{% extends "nav.jinja2" %}
{% block content %}
<div class="page-header">
  <h1>Ceremory</h1>
  <p>Date: Saturday, October 3, 2015</p>
  <p>Time: 6:30pm</p>
  <p>Location: Meadow Wood Manor</p>
  <p>461 State Route 10</p>
  <p>Randolph, NJ 07869</p>
</div>
{% endblock %}