{% extends "nav.jinja2" %}
{% block content %}
<br><br>
<div id="links">
  <a href="https://farm8.static.flickr.com/7583/16103630670_54d6b214fc_b.jpg" title="Sedona low hanging Cloud Explored#1 1/17/15 DSC_1564" data-gallery=""><img src="https://farm8.static.flickr.com/7583/16103630670_54d6b214fc_s.jpg"></a>
  <a href="https://farm8.static.flickr.com/7464/16266966276_19d64e34fa_b.jpg" title="day 51- project 365 - &quot;...Where there is a Key, there is yet hope....”  ― Catherynne M. Valente" data-gallery=""><img src="https://farm8.static.flickr.com/7464/16266966276_19d64e34fa_s.jpg"></a>
  <a href="https://farm9.static.flickr.com/8582/15669339324_ebd4234696_b.jpg" title="2706 + 2710" data-gallery=""><img src="https://farm9.static.flickr.com/8582/15669339324_ebd4234696_s.jpg"></a>
  <a href="https://farm8.static.flickr.com/7537/16288970111_4a56f0fb62_b.jpg" title="Concentration!" data-gallery=""><img src="https://farm8.static.flickr.com/7537/16288970111_4a56f0fb62_s.jpg"></a>
  <a href="https://farm8.static.flickr.com/7555/16108476239_095f956f11_b.jpg" title="Dawn on a Volcanic Sea" data-gallery=""><img src="https://farm8.static.flickr.com/7555/16108476239_095f956f11_s.jpg"></a>
  <a href="https://farm8.static.flickr.com/7496/16107831218_98819c8905_b.jpg" title="Dolomite Sunset" data-gallery=""><img src="https://farm8.static.flickr.com/7496/16107831218_98819c8905_s.jpg"></a>
  <a href="https://farm9.static.flickr.com/8653/16105368057_96e4a46d3d_b.jpg" title="Hat and big lens" data-gallery=""><img src="https://farm9.static.flickr.com/8653/16105368057_96e4a46d3d_s.jpg"></a>
  <a href="https://farm8.static.flickr.com/7497/15671815384_c56905c1d4_b.jpg" title="Flickrfriday16Jan15" data-gallery=""><img src="https://farm8.static.flickr.com/7497/15671815384_c56905c1d4_s.jpg"></a>
</div>
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
{% endblock %}