{% extends "nav.jinja2" %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='img/index_pic.jpg') }}" class="img-responsive">
    </div>
    <div class="col-md-6 text-center">
      <h1>Welcome to our wedding!<h1>
    <div>
  </div>
{% endblock %}