{% extends "nav.jinja2" %}
{% block content %}
<div class="row">
  <div class="coverpicture">
    <img src="{{ url_for('static', filename='img/index_pic.jpg') }}" class="img-responsive">
  </div>
</div>
<br>
<br>
{% endblock %}