<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tina and Eric</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/fav_icon.png') }}">
  </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="text-center">
	  </br></br>
	  <h1>Tina & Eric</h1>
	  <h4>October 3rd, 2015</h4>
	  </br></br>
	</div>
      </div>
      <div class="row content">
	<nav>
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse"
		    data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	    </button>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse">
	    <ul class="nav nav-justified">
	      <li><a href="/">Home</a></li>
	      <li><a href="/rsvp">RSVP</a></li>
	      <li><a href="/event">Events</a></li>
	      <li><a href="/accommodation">Accommodation</a></li>
	      <li><a href="/gallery">Gallery</a></li>
	      <li><a href="/stories">Stories</a></li>
	      <li><a href="/registry">Registry</a></li>
	    </ul>
	  </div>
  	</nav>
	{% block content %}{% endblock %}
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
