<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tina and Eric</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-image-gallery.min.css') }}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/fav_icon.png') }}">
    {% block head %}{% endblock %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58677177-1', 'auto');
  ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="row">
	  <div class="col-md-12 col-xs-8">
	    <div class="text-center">
	      <div class="visible-md-block visible-lg-block">
    		<br><br>
	      </div>
 	      <h1>Tina & Eric</h1>
	      <h4>October 3rd, 2015</h4>
	      <div class="visible-md-block visible-lg-block">
		<br><br>
	      </div>
	    </div>
	  </div>
	  <div class="col-xs-4 visible-xs-block">
	    <br>
  	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
		    data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	    </button>
	  </div>
	</div>
	<div class="row mynavbar collapse navbar-collapse" id="navbar-collapse">
	  <ul class="nav nav-justified">
    {% if active == "home" %}
    <li><a class="active" href="/">Home</a></li>
    {% else %}
	   <li><a href="/">Home</a></li>
    {% endif %}
    {% if active == "rsvp" %}
	   <li><a class="active" href="/rsvp">RSVP</a></li>
    {% else %}
      <li><a href="/rsvp">RSVP</a></li>
    {% endif %}
    {% if active == "event" %}
    <li><a class="active" href="/event">Events</a></li>
    {% else %}
	    <li><a href="/event">Events</a></li>
      {% endif %}
      {% if active == "accomodation" %}
      <li><a class="active" href="/accommodation">Accommodation</a></li>
      {% else %}
	    <li><a href="/accommodation">Accommodation</a></li>
      {% endif %}
      {% if active == "gallery" %}
      <li><a class="active" href="/gallery">Gallery</a></li>
      {% else %}
	    <li><a href="/gallery">Gallery</a></li>
      {% endif %}
      {% if active == "stories" %}
      <li><a class="active" href="/stories">Stories</a></li>
      {% else %}
	    <li><a href="/stories">Stories</a></li>
      {% endif %}
      {% if active == "registry" %}
      <li><a class="active" href="/registry">Registry</a></li>
      {% else %}
	    <li><a href="/registry">Registry</a></li>
      {% endif %}
	  </ul>
	</div>
      </nav>
      {% block content %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-image-gallery.min.js') }}"></script>
    {% block tail %}{% endblock %}
  </body>
</html>
