{% extends "nav.jinja2" %}
{% block content %}
<div class="text-center">
  </br></br>
	<div class="row">
	  <div class="col-md-8 col-md-offset-2">
	  <h2>
		We don't have a registry. We don't want to inconvenience anyone. Cash would be perfectly acceptable and appreciated.
		</h2>
	</div>
	</div>
</div>
{% endblock %}