{% extends "nav.html" %}
{% block content %}
<div class="text-center rsvp">
	<div class="rsvp-text">
		We hope you'll be able to join us for our special day!
	</div>
	<div class="rsvp-sub-text">
		Your dietary restrictions will be taken care of at the wedding venue. You will be able to make your meal selection then as well. We only need to know whether you'll be joining us! =)
	</div>
<form class="" action="/rsvp/{{ token }}/submit" onsubmit="return validateRSVPForm()" method="POST">
  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  <input name="ids" type=hidden value="{{ guest_ids }}">
  {% for guest in guests %}
  <div class="rsvp-answer-group">
    <div class="row rsvp-guest rsvp-guest-coming">
    	<div class="rsvp-guest-name col-md-6 col-sm-12">
			{{ guest.name }}        
		</div>
		<div class="btn-group col-md-6 col-sm-12" data-toggle="buttons">
	  		<label class="btn btn-default rsvp-options-yes {{ 'active' if guest.coming == guest.Attending.YES else None }}">
	    		<input type="radio" autocomplete="off">Attend
			</label>
  			<label class="btn btn-default rsvp-options-no {{ 'active' if guest.coming == guest.Attending.NO else None }}">
    			<input type="radio" autocomplete="off">Decline
  			</label>
		</div>
	</div>
	<input name="attending_{{ guest.id }}" type="hidden" value="-1">
  </div>
  {% endfor %}
  <div class="send-rsvp">
       <button type="submit" class="btn btn-primary">Send RSVP</button>
       <div id="failure" class="rsvp-failure-text" style="display: none">
       </div>
  </div>
</form>
{% endblock %}
