{% extends "nav.html" %}
{% block content %}
<div class="text-center rsvp">
	<div class="rsvp-text">
	We hope you'll be able to join us for our special day!
</div>
  {% for guest in guests %}
    <div class="row rsvp-guest">
    	<div class="rsvp-guest-name col-md-6">
			{{ guest.name }}        
		</div>
		<div class="btn-group" role="group" aria-label="">
			<button type="button" class="btn btn-default">Attend</button>
			<button type="button" class="btn btn-default">Decline</button>
		</div>
	</div>
  {% endfor %}
  <div class="send-rsvp">
       <button type="button" class="btn btn-primary">Send RSVP</button>
  </div>
</div>
{% endblock %}
