{% extends "nav.html" %}
{% block content %}
<div id="rsvp" class="text-center rsvp">
	<div class="rsvp-text">
		Sorry, we don't recognize that code!
	</div>
	<div class="rsvp-text">
		Please click the link in your invitation email again.
	</div>
	<div class="rsvp-code-text">
		Or enter the 6 digit code in your email here:
	</div>

	<div class="form-inline">
		<div class="form-group">
    		<label for="token">Name</label>
    		<input type="text" name="token" class="form-control" id="token" placeholder="6 digit code here">
  		</div>
  		<button class="btn btn-primary" onclick="submit_token()">Enter</button>
		<div id="failure" class="rsvp-failure-text" style="display: none">
		     Oops, the token should be exactly 6 characters!
		</div>	
	</div>
</div>
{% endblock %}
