{% extends "nav.html" %}
{% block content %}
<div id="rsvp" class="text-center">
	<div class="media">
		<div class="media-middle">
        	<img class="media-object" src="static/img/heart.png" alt="heart" height="300" width="241">
		</div>
	</div>
	<div class="rsvp-text">
		To RSVP, please click the link in your invitation email.
	</div>
	<div class="rsvp-text">
		We can't wait to see you!
	</div>
	<div class="rsvp-code-text">
		Or enter the 6 digit code in your email here:
	</div>

	<div class="form-inline">
		<div class="form-group">
    		<label for="token">Name</label>
    		<input type="text" name="token" class="form-control" id="token" placeholder="6 digit code here">
  		</div>
  		<button class="btn btn-primary" onclick="submit_token()">Enter</button>
		<div id="failure" class="rsvp-failure-text" style="display: none">
		     Oops, the token should be exactly 6 characters!
		</div>	
	</div>
</div>
{% endblock %}
