{% extends "nav.jinja2" %}
{% block content %}
<div class="text-center">
  </br></br>
  <h2>We hope you'll be able to join us for our special day!</h2>
  <table>
  {% for guest in guests %}
    {{ guest.name }}
  {% endfor %}
  </table>
</div>
{% endblock %}