{% extends "nav.html" %}
{% block content %}
<div class="stories text-center">
	<div class="story-section-title">
  		How We Met
  	</div>
  	<div class="story-section-desc">
  		<p>
			Tina and Eric got to know each other while they were working for Microsoft in Mountain View, California. Eric was a suave program manager for PowerPoint, Tina a comely developer on Outlook.
		</p>
		<p>
			One evening, Tina decided to make a move.
		</p>
		<p>
			“Eric, wanna come play frisbee this week?”
		</p>
		<p>
			“Sure, why not.”
		</p>
		<p>
			“Cool, you drive” Tina responded.
		</p>
		<p>
			That was July of 2010. The rest, shall we say, is history!
		</p>
	</div>
	<div class="story-section-title">
		<p>	
			The Proposal
		</p>
	</div>
	<div class="story-section-desc">
		<p>
			After 4 years, Eric decided it was time to ask Tina to be his wife. He knew that if he let her get away, he’d never get to eat her famous wok-fried ribs ever again.
		</p>
		<p>
			Tina and Eric took Tina’s parents on a trip to Bali in 2014. On the trip, Eric took Tina on a 7-hour hike up Mt. Agung that started at midnight so they could be at the top for sunrise. As the sun rose over the pristine Bali Sea…Eric continued to eat snacks and did not propose. Tina was not happy, to say the least.
		</p>
		<p>
			The next day, Eric surprised Tina and her family with a private candlelit dinner on a cliff by the water. There, Eric asked Tina to marry him, and she of course said yes.
		</p>
	</div>
</div>
{% endblock %}
